*{
    box-sizing: border-box;
}
/*Mobile First Design max-width 768px*/

body{
    font-family:Arial, Helvetica, Verdana, sans-serif;
    margin:0;
}

header{
    background-color: #120323;
    color:#97bf04;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding: 1rem 0;
}

figure{
    display: flex;
    flex-direction: column;
    padding-top: 1.5rem;
}

figure img{
    border: 5px solid #d9043d; 
    max-width: 100vw;
    align-items: center;
}

figure h2{
    color:#120323;
}

aside{
    background-color: #97bf04;
    padding: 1.3rem 1rem;
}

footer{
    background-color: #d9043d;
    color:white;
    padding: 2rem;
    text-align:center;
    margin-top: 1rem;
}

/*Header Text wraps to the right after max-width 420px (YUCK!)*/
@media screen and (max-width: 465px){
    header{
        font-size: 80%;
    }
}

/*Medium Screens*/
@media screen and (min-width:768px){
   
    header{
        flex-direction: row;
        justify-content: center;
        padding: 1.5rem 0;
    }
    h1{
        margin-left: 1rem;
    }
    figure{
        flex-direction: row;
        padding:2rem 0 1rem 0;
    }
    figure img{
        max-width:320px;
        max-height:320px;
        margin-right:1rem;
    }
    figure h2{
        margin:0;
    }
    footer{
        margin-bottom:1rem;
    }
}

@media screen and (min-width:1000px){

    div#container{
        display: flex;
        flex-direction: row;
        /*display: grid;
        grid-template-columns: 3fr 1fr auto;*/
    }

    main {
        flex:2;
    }

    aside{
        flex:1;
        padding: 1rem;
        margin: 2rem 0 0 2rem;
    }
}


